/* === ОБЩИЕ СТИЛИ === */

/* тело сайта. Цвет фона и шрифт для всего сайта*/
body {
    background-color: #fffdef;
    font-family: "Montserrat", sans-serif;
}

/* -------------------------------------------------- */

/* редактирование размера логотипа на баннере */
.header img{
    height: 100%;
    width: 200px;
}